.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product-item {
    flex-basis: calc(100% / 3 - 20px); /* Change this to 2 for 2 items per row, 4 for 4 items per row etc. */
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  
  .product-item img {
    max-width: 100%;
    height: auto;
  }
  
  .product-item button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-item button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .product-item {
      flex-basis: 100%;
    }
  }
  

  .cart-button-container {
    text-align: right;
    padding: 10px 30px;
    /* background-color: #f4f4f4;  optional background to distinguish from the product list */
    /* border-bottom: 1px solid #ddd; */
}

.cart-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-button:hover {
    background-color: #0056b3;
}